        <div class="page-content">
            <div class="container">
                <div class="cover shadow-lg bg-white">
                    {% include 'home/content/banner.html' %}

                    {% include 'home/content/about-section.html' %}
                    <hr class="d-print-none chr" />
                    {% include 'home/content/skills-section.html' %}
                    <hr class="d-print-none chr" />
                    {% include 'home/content/w-experience-section.html' %}
                    <hr class="d-print-none chr" />
                    <div class="page-break"></div>
                    {% include 'home/content/education-section.html' %}
                    <hr class="d-print-none chr" />
                    {% include 'home/content/certifications-section.html' %}
                </div>
            </div>
        </div>
