        <header class="d-print-none">
            <div class="container text-center text-lg-left">
                <div class="py-3 clearfix">
                {% if len(available_languages) > 1 %}
                    <select class="selectpicker" data-width="fit" id="lang-selector">
                    {% for lang in available_languages %}
                    <option value="{{ lang.language }}"{% if lang.language == get_locale().language %} selected="{{ lang.language }}"{% endif %}>{{ lang.get_language_name().capitalize() }}</option>
                    {% endfor %}
                    </select>
                {% endif %}

                    <div class="site-nav">
                        <nav role="navigation">
                            <ul class="nav justify-content-center">
                            {% for n in get_number("icon", 0) %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ i18n[n + '-icon-url'] }}" data-i18n="[title]{{ n + '-icon-title' }}">
                                        <i class="{{ i18n[n + '-icon-meta'] }}"></i>
                                        <span class="menu-title sr-only" data-i18n="{{ n + '-icon-title' }}"></span>
                                    </a>
                                </li>
                            {% endfor %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
