    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "4a459186-e8af-41cd-ac44-48860b4187b7", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "0d12750d-e745-4da7-a7d4-a40b3e53df78", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
        };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" +
            (window.watsonAssistantChatOptions.clientVersion || 'latest') +
            "/WatsonAssistantChatEntry.js"
        document.head.appendChild(t);
      });
    </script>
