    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "{{ settings.assistant.integration_id }}",
            region: "{{ settings.assistant.region }}",
            serviceInstanceID: "{{ settings.assistant.service_instance_id }}",
            onLoad: function(instance) { instance.render(); },
            openChatByDefault: {{ settings.assistant.open_chat }}
        };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="{{ settings.assistant.app_domain }}" +
            (window.watsonAssistantChatOptions.clientVersion || 'latest') +
            "/WatsonAssistantChatEntry.js"
        document.head.appendChild(t);
      });
    </script>
